.logo:hover {
    color: #141414;
    letter-spacing: 10px;
    animation: acender 0.5s forwards;
    transition: 0.6s;
}

@keyframes acender {
    to {
        color: #fff;
        text-shadow: 0 0 10px #32f332, 0 0 20px #a8dfe1;
    }
}